*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(58, 58, 248);
  --seconday-color: #fff;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-color);
}

header {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

h1 {
  text-align: center;
  color: var(--seconday-color);
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 50px;
  border-radius: 5px;
  margin: 20px 0px;
  padding: 15px;
  color: white;
  background: var(--primary-color);
}

.container {
  width: 500px;
  /* height: 400px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: var(--seconday-color);
}

.container p {
  margin-bottom: 5px;
}

.box-radio {
  margin-bottom: 40px;
}

.box-input-tape {
  width: 60%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#inputText {
  width: 100%;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  font-weight: normal;
  border-radius: 5px 0 0 5px;
  border: 1px solid #c6c3c3;
  outline: none;
}

#btnValider {
  width: 40%;
  height: 40px;
  border-radius: 0 5px 5px 0;
  color: #fff;
  background-color: black;
  border: none;
  cursor: pointer;
}

.box-popup {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup-active {
  display: block;
}
h3 {
  text-align: center;
  margin-top: 5px;
}

.box-nom {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.box-email {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.box-btns {
  margin: 5px 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  height: 200px;
  color: var(--seconday-color);
}
